.tablero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
}
.child{
    width: 10px;
    height: 10px;
    border:solid 1px #ccc;
    font-size: 20px;
    overflow: hidden;
    line-height: 0px;
    color: #121212;
    transition: .7s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.child:hover{
    background: #ccc;
}